#navigationBar{
    display: flex;
    justify-content: space-between;
   /* margin-left: 3rem;
   margin-right: 3rem; */
   /* margin-top: 1rem; */
   /* width: 100%; */
}

#middleNav{
    border: 2px solid black;
    border-radius:20px ;
    height: 40px;
    margin-top: 1rem;
    margin-left: 94px;
}
#searchBar{
    height: 35px;
    width: 420px;
    padding-left: 20px;
    font-size: large;
    border: none;
    background: transparent;
}
#searchBar:focus{
    border: none;
    outline: none;
}

#searchButton{
    border: none;
    height: 40px;
    border: none;
    background: transparent;
    border-radius: 20px;
    width: 70px;
    font-size: large;
    
}
#searchButton:hover{
    background: rgb(104, 160, 244);
    cursor: pointer;
    color: white;
}
#rightNav{
    display: flex;
    gap: 40px;

}
.rightNavButtons{
    background: transparent;
    border: none;
    font-size: 24px;

}
.rightNavButtons:hover{
    cursor: pointer;

}

/* From here the main section code begins */

#fullWorkingSection{
    display:flex;

}
#SideBar{
    display: flex;
    flex-direction: column;
    height:87vh;
    width: 260px;
    background: rgb(199, 199, 199);
    margin-left: none;
}
.sidebarButton{
    height: 40px;

}

